name: check_deno

on:
  push:
    branches:
      - "main"
  pull_request:
  schedule:
    - cron: "0 8 * * FRI" # 17:00, every friday on JST
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        deno-version:
          - "canary"
          - "v2.x"
          - "v1.x"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Show environment
        run: set -x; pwd; ls -la; deno --version;
      - name: Run test
        run: deno run ./src/test/index_deno.ts
